{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/detail.css">
<h1>{{ car.brand }} {{ car.model }} ({{ car.year }})</h1>
<p>Price per day: {{ car.price_per_day }}₾</p>
<p>Capacity: {{ car.capacity }} people</p>
<p>Transmission: {{ car.transmission }}</p>
<p>City: {{ car.city }}</p>
<p>Fuel Capacity: {{ car.fuel_capacity }}L</p>
<p>Status: {% if car.available %}Available{% else %}Unavailable{% endif %}</p>

<h3>Photos</h3>
<div>
    {% for photo in car.photos.all %}
        <img src="{{ photo.image.url }}" width="200" alt="Car photo">
   {% empty %}
        <img src="/static/car_pics/default_car.jpg" width="200" alt="Default car photo">
    {% endfor %}
</div>

{% if user.is_authenticated %}
    <form method="post" action="{% url 'cars:rent_car' car.pk %}">
        {% csrf_token %}
        <button type="submit">Rent this car</button>
    </form>
    <form method="post" action="{% url 'cars:toggle_favorite' car.pk %}">
        {% csrf_token %}
        <button type="submit">
            {% if car in favorites %}Remove from Favorites{% else %}Add to Favorites{% endif %}
        </button>
    </form>
{% else %}
    <p><a href="{% url 'users:login' %}">Login</a> to rent or like this car.</p>
{% endif %}
{% endblock %}

    <!-- Optional: Map section -->
    <!-- <div id="map"></div> -->

<a href="{% url 'cars:home' %}">back to list page</a></body>
</html>